body>main{
    margin:0;
    background:linear-gradient(135deg, #4b6cb7, #182848);
    display:flex;
    justify-content:center;
    align-items: center;
    height:100vh;
    font-family: 'Poppins';
}


.registro-card{
    box-shadow:0 6px 20px rgba(0,0,0,0.3);
    text-align:left;
    background-color:white;
    border-radius: 12px;
    width:90%;
    max-width: 350px;
    padding:2em
}

.registro-card h2{
    margin-bottom: 1em;
    text-align: center;
    color:#333
}


label{
    display:block;
    margin-bottom: 1em;
    font-size: 1em;
    color:#444;
}


.input-text{
    width:100%;
    padding:10px;
    margin-top:5px;
    transition: 0.3s;
    border:1px solid rgb(243, 231, 209);
    border-radius:6px;
    outline:none;
    font-size: 1em;
}

.input-text:focus{
    box-shadow: 0 0 5px rgba(75, 108, 183, 0.5);
}


.btn-registrar{
    padding:10px;
    width:100%;
    margin-top: 1.5em;
    padding: 10px;
    display:block;
    margin-bottom: 1em;
    font-size: 2em;
    border-radius: 10px;
    cursor:pointer;
    background-color: #4b6cb7;
    color:white;
    transition:background-color 0.3s ease;
}
.btn-registrar:hover {
    background-color: #3551a2;
}